@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$fonts-path: '../fonts/';

/*
@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: $font-primary-weight-regular;
  font-display: swap; // Improves loading performance
  src: url(#{$fonts-path}myfont-regular.woff2) format('woff2'),
       url(#{$fonts-path}myfont-regular.woff) format('woff');
}
       */


$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xs: $font-size-base * .75;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

// Font family variables
// $font-primary: 'MyFont', sans-serif;
$font-primary-weight-regular: 400;
$font-primary-weight-bold: 700;

@font-face {
    font-family: 'Kepler';
    font-style: normal;
    font-weight: $font-primary-weight-bold;
    font-display: swap;
    src: url(#{$fonts-path}Kepler.woff2) format('woff2'),
    url(#{$fonts-path}Kepler.woff) format('woff');
}

$font-family-condensed: "Roboto Condensed";
$font-family-regular: "Roboto";
$font-fancy: "Domine";

/*
.font-family-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-family-regular {
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    */
body,
p,
a,
div,
span {
    font-family: $font-family-regular;
    font-variation-settings:
        "wdth"100;
    font-optical-sizing: auto;
}

    h1,
    h1 span,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-condensed;
        font-weight: 400;
        letter-spacing: 0.005rem;
    }
