// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-serif      { font-family: serif; }

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Archivo:wght@300;400;500;600&family=Montserrat:wght@300;500&family=Roboto+Slab:wght@300;400;500&display=swap');