.block-views-block-advertisements-block-1 {
 .views-row {
    border-bottom: 0;
    padding: 0.875rem;

    .views-field-field-ad-image {
        width: 100%;

        a img {
            width: 100%;
        }
    }
 }
}