// Non-modular or client styles for .l-footer region.
#block-customfooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: brightness(0.35);
    z-index: -1;
    .body {
        max-width: 85em;
        margin: 0px auto;
        text-align: center;
        .footer-body-left,
        .footer-body-right {
            width: 50%;
        }
        .footer-body-left {
            display: inline-block;
            .copyright {
                line-height: 1;
                margin-bottom: 0;
                text-align: left;
                font-family: $page-title;
                font-size: 1rem;
                color: #ddd;
            }
        }
    }
    .footer-body-right {
        float: right;
        text-align: right;
        p {
            margin-bottom: 0;
            display: inline;
            font-size: 1rem;
            a {
                font-family: $font-sans-serif;
                line-height: 1;
                font-size: 0.9rem;
                padding-left: 2rem;
                color: aliceblue;
            }
            &.cosmonaut {
                a {
                    color: #bbb;
                }
            }
        }
    }
}
